body {
  margin: 0;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("northernlights.jpg");
  
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  color: #f3f3f3;
  background-color: #444444;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  border: 1px solid #010712;
  font-weight: 650;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 120%;
  width: 100%;


}

button:hover {
  border: 0.5px #C6C6C6 solid;
  box-shadow: 0.5px 0.5px 0.5px #EAEAEA;
  color: #f3f3f3;
  background: #020713;
}

button:focus {     
  background-color: #272148;
  border: 0.5px #C6C6C6 solid;
}

.jumbotron {
  background: url('./northernlights.jpg') no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  min-height: 1000px;

}

a.navbar.brand {
  color: white;
  padding: 15px;
  font-size: 25px;
  margin-left: -20px;
}

.nav-link{
  color: white;

}

p {
  color:white;
  
}

.App-header{
  color:white;

}

.App-header h1{
  font-size: 30px;
  padding-left:3%;
  padding-bottom:2%;
  padding-top:2%;
}

.App-header p{
  font-size: 20px;
}

.navbar{
  border-bottom: 1px black solid;
}

.navbar .brand{
  border: none;
}

.navtest{
  color: white;
}

.power{
  padding: none;
}

.App-header h2{
  padding-left: 3%;
  padding-bottom: 2%;
  font-size: 20px;
}


